<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa Asignada || Aprendiz</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/aprendiz/E_empresa_aprendiz.css') }}">

</head>
<body>
    
    <header id="inicio">
        <article id="content">
            <figure class="logo_sena">

                <img src="../static/images/sena_w.png" alt="">
            </figure>

            <div id="texto">
                <h2>SEPA</h2>
                <p>Seguimiento de Etapa Productiva de Aprendices</p>
            </div>
            <div id="cerrar">
                <i class="lni lni-exit" id="boton_cerrar"></i>
            </div>
        </article>
    </header>

    <nav id="vinculo">

        <a id="home-perfil" href="/mostrarDatos_aprendiz">
    
            <i class="lni lni-home principal"></i>
        </a>

        <a id="home-visitas" href="/visita_aprendiz">
        
            <i class="lni lni-travel principal"></i>
        </a>

        <a id="home-notificacion" href="/listado">
            
            <i class="lni lni-envelope principal"></i>
        </a>

        <a id="home-empresa" href="/empresa_asignada">
        
            <i class="lni lni-apartment principal"></i>
        </a>

        <a id="home_bitacora" href="/inputRegional">
            
            <i class="lni lni-printer"></i>
        </a>

    </nav>

    <main id="menu">
        <section class="Actualizar_datos_empresa">
           
            <h2 id="basico_text">Datos Basicos de la Empresa</h2>
            <article id="contenedor_datos_empresa">

                <div id="content_empresa">

                    <table id="tabla_empresa">

                        <tr class="datos_empresa">
                            <td class="inicio_datos">Jefe Inmediato:</td>
                            <td class="basico_empresa">{{Nombre_Jefe}} {{Apellidos_Jefe}}</td>
                       
                        <tr class="datos_empresa">
                            <td class="inicio_datos">Empresa:</td>
                            <td class="basico_empresa">{{Nombre_empresa}}</td>
                        </tr>
                        <tr class="datos_empresa">
                            <td class="inicio_datos">Direccion:</td>
                            <td class="basico_empresa">{{Direccion_empresa}}</td>
                        </tr>
                        <tr class="datos_empresa">
                            <td class="inicio_datos">Telefono:</td>
                            <td class="basico_empresa">{{Telefono_empresa}}</td>
                        </tr>
                        <tr class="datos_empresa">
                            <td class="inicio_datos">Ciudad:</td>
                            <td class="basico_empresa">{{Ciudad_empresa}}</td>
                        </tr>
                        <tr class="datos_empresa">
                            <td class="inicio_datos">Correo:</td>
                            <td class="basico_empresa">{{Correo_empresa}}</td>
                        </tr>                
                    </table>
                </div>
            </article>
        </section>

        <section id="content_icon">
                
            <i class="lni lni-pencil-alt" id="btn-abrir"></i>
        </section>

        <section id="modalsi" class="modal">
            <article class="contenedor-modal">
                
                <form action="/cambiar_datos_empresa" method="post" id="modal_empresa">

                    <h2 id="texto-modal">Actualización de Datos Sobre la Empresa</h2>

                    <label class="label-inputs">Direccion:

                        <input
                        type="text"
                        required
                        class="input_datos"
                        name="actualizacion_direccion_empresa"
                        id="actualizacion-direccion"
                        value="{{Direccion_empresa}}">

                    </label>
                    <label class="label-inputs">Telefono:

                        <input
                        type="tel"
                        min="10"
                        max="10"
                        required
                        class="input_datos"
                        id="actualizacion-celular"
                        name="actualizacion-celular"
                        value="{{Telefono_empresa}}">

                    </label>
                    <label class="label-inputs">Ciudad:

                        <input
                        type="tex"
                        required
                        class="input_datos"
                        id="actualizacion_ciudad_empresa"
                        name="actualizacion_ciudad_empresa"
                        value="{{Ciudad_empresa}}">

                    </label>
                    <label class="label-inputs">Correo:

                        <input
                        type="email"
                        required
                        id="actualizacion_correo_empresa"
                        name="actualizacion_correo_empresa"
                        value="{{Correo_empresa}}">

                    </label>
                    <label class="label-inputs">Nombre del Jefe:

                        <input
                        type="text"
                        required
                        class="input_datos"
                        id="actualizacion_nombre_jefe_empresa"
                        name="actualizacion_nombre_jefe_empresa"
                        value="{{Nombre_Jefe}}">
                    </label>        
                    <label class="label-inputs">Apellido del Jefe:

                       <input
                        type="text"
                        required
                        class="input_datos"
                        id="actualizacion_apellido_jefe_empresa"
                        name="actualizacion_apellido_jefe_empresa"
                        value="{{Apellidos_Jefe}}">

                    </label>
                    <button
                    class="Actualizar_Datos" 
                    id="Actualizar" 
                    type="submit">Actualizar</button>
                </form>
            </article>   
            <div id="caja_cerrar">
                <button id="btn-cerrar" onclick="btn_cerrar()">Cerrar</button>
            </div> 
        </section>
    </main>

    <script src="{{ url_for('static', filename='javascript/empresa_aprendiz.js') }}"></script>
</body>
</html>