<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresa Asignada || Aprendiz</title>

    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />

    <link rel="stylesheet" href="{{ url_for('static',filename='css/aprendiz/E_empresa_aprendiz.css') }}">

</head>
<body>
    
    <header id="inicio">
        
        <article id="content">

            <figure class="logo_sena">

                <img src="../static/images/sena_w.png" alt="">

            </figure>

            <div id="texto">

                <h2>SEPA</h2>

                <p>Seguimiento de Etapa Productiva de Aprendices</p>

            </div>

            <div id="cerrar">

                <i class="lni lni-exit" id="boton_cerrar"></i>
            </div>
        </article>
    </header>

    <main id="menu">

        <section class="Actualizar_datos_empresa">

            <article id="vinculo">

                <a id="home-perfil" href="/mostrarDatos_aprendiz">
            
                    <i class="lni lni-home principal"></i>
                </a>
    
                <a id="home-visitas" href="/visita_aprendiz">
                
                    <i class="lni lni-travel principal"></i>
                </a>
    
                <a id="home-notificacion" href="/listado">
                    
                    <i class="lni lni-envelope principal"></i>
                </a>
    
                <a id="home-empresa" href="/empresa_asignada">
                
                    <i class="lni lni-apartment principal"></i>
                </a>
    
                <a id="home_bitacora" href="/inputRegional">
                    
                    <i class="lni lni-printer"></i>
                </a>
    
            </article>

            <h2 id="basico_text">Datos Basicos de la Empresa</h2>

            <article id="contenedor_datos_empresa">

                <div id="content_empresa">

                    <table id="tabla_empresa">

                        <tr class="datos_empresa">

                            <td class="inicio_datos">Nombre del Inmediato:</td>

                            <td class="basico_empresa">{{Nombre_Jefe}}</td>

                        </tr>
                        <tr class="datos_empresa">

                            <td class="inicio_datos">Apellido del Jefe:</td>

                            <td class="basico_empresa">{{Apellidos_Jefe}}</td>

                        </tr>
                        <tr class="datos_empresa">

                            <td class="inicio_datos">Nombre de la Empresa:</td>

                            <td class="basico_empresa">{{Nombre_empresa}}</td>

                        </tr>
                        <tr class="datos_empresa">

                            <td class="inicio_datos">Direccion de la Empresa:</td>

                            <td class="basico_empresa">{{Direccion_empresa}}</td>

                        </tr>
                        <tr class="datos_empresa">

                            <td class="inicio_datos">Telefono de la Empresa:</td>

                            <td class="basico_empresa">{{Telefono_empresa}}</td>

                        </tr>
                        <tr class="datos_empresa">

                            <td class="inicio_datos">Ciudad de la Empresa:</td>

                            <td class="basico_empresa">{{Ciudad_empresa}}</td>

                        </tr>
                        <tr class="datos_empresa">

                            <td class="inicio_datos">Correo de la Empresa:</td>

                            <td class="basico_empresa">{{Correo_empresa}}</td>

                        </tr>                
                    </table>
                </div>
            </article>
        </section>

        <section id="content_icon">
                
            <i class="lni lni-pencil-alt" id="btn-abrir"></i>
        </section>

        <section id="modalsi" class="modal">

            <article class="contenedor-modal">

                <h2 id="texto-modal">Actualización de Datos Sobre la Empresa</h2>

                <form action="/cambiar_datos_empresa" method="post">

                    <label class="label-inputs">Direccion de la Empresa:

                        <input
                            type="text"
                            required
                            class="input_datos"
                            name="actualizacion_direccion_empresa"
                            id="actualizacion-direccion"
                            value="{{Direccion_empresa}}">

                    </label>
                    <label class="label-inputs">Telefono de la Empresa:

                        <input
                            type="tel"
                            min="10"
                            max="10"
                            required
                            class="input_datos"
                            id="actualizacion-celular"
                            name="actualizacion-celular"
                            value="{{Telefono_empresa}}">

                    </label>
                    <label class="label-inputs">Ciudad de la Empresa:

                        <input
                            type="tex"
                            required
                            class="input_datos"
                            id="actualizacion_ciudad_empresa"
                            name="actualizacion_ciudad_empresa"
                            value="{{Ciudad_empresa}}">

                    </label>
                    <label class="label-inputs">Correo de la Empresa:

                        <input
                            type="email"
                            required
                            class="input_datos"
                            id="actualizacion_correo_empresa"
                            name="actualizacion_correo_empresa"
                            value="{{Correo_empresa}}">

                    </label>
                    <label class="label-inputs">Nombre Jefe Inmediato:

                        <input
                            type="text"
                            required
                            class="input_datos"
                            id="actualizacion_nombre_jefe_empresa"
                            name="actualizacion_nombre_jefe_empresa"
                            value="{{Nombre_Jefe}}">
                    </label>        
                    <label class="label-inputs">Apellido Jefe Inmediato:

                        <input
                            type="text"
                            required
                            class="input_datos"
                            id="actualizacion_apellido_jefe_empresa"
                            name="actualizacion_apellido_jefe_empresa"
                            value="{{Apellidos_Jefe}}">

                    </label>
                    <button
                        class="Actualizar_Datos" 
                        id="Actualizar" 
                        type="submit">
                        Actualizar
                    </button>
                </form>

                <button id="btn-cerrar" onclick="btn_cerrar()">Cerrar</button>
            </article>    
        </section>

        <section id="content_footer">
            <footer>

                <p>
                    Para obtener información adicional, te invitamos a ponerte en contacto 
                    con la Coordinación de Seguimiento a través del correo electrónico.
                    
                    <a
                        id="correo_cordinacion"
                        href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJfmqrttsrVgrKKPlKGXJZzpwchfbktjGzshhHznJrLZPpNPVDRJjzbnKmVDThdgpDMZBrL">
                        Coordinación De Seguimiento
                    </a>
                </p>
            </footer>
        </section>
    </main>

    <script src="{{ url_for('static', filename='javascript/empresa_aprendiz.js') }}"></script>
</body>
</html>