<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEPA | Instructor</title>
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/globalcss_instru.css">
    <link rel="stylesheet" href="/static/css/observaciones_instru.css">

</head>

<body>

    <header id="cabezote">

        <figure id="logo_sena"><img src="/static/img/logos/logo_sena.png" alt="sena"></figure>

        <div class="elemento-menu"><a href="/cerrar_sesion_instru" class="boton">Cerrar sesion</a></div>

    </header>

    <div class="barra_menu_btn">

        <a href="/home_instru"><i class="lni lni-home"></i></a>
        <a href="/perfil_instru">Perfil</a>
        <a href="/aprendices_instru" >Aprendices</a>
        <a href="/obser_instru">Observaciones</a>

    </div>

    <!-- Contenido de la página -->

    <div class="cont_contenido">
        <h2>Todas tus observaciones</h2>
        
        <table>
            <thead>
                <tr>
                    <th>CC</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
    
                    <th>Observacion</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                
            {% if datos_obser %}
                {% for datos in datos_obser %}
                    
                    <tr>
                        {% if datos_apre %}
                        {% for apre in datos_apre %}
                            <td>{{apre[0]}}</td>
                            <td>{{apre[1]}}</td>
                            <td>{{apre[2]}}</td>   
                        {% endfor %}
                        {%endif%}  
                        <td>{{datos[1]}}</td>
                        <td>{{datos[2]}}</td>
                        
                    </tr>
                {% endfor %}
            {%endif%}  
                
            </tbody>
        </table>

        
    </div>

</body>

<div id="piepagina">
    <!-- Contenido del footer -->
    <p>Política de privacidad
        Términos de servicio
        &copy; 2023 SENA-CAB. Todos los derechos reservados.</p>
</div>

</html>